body {
	font-family: sans-serif;
	background-color: black;
}

#calculator {
	width: 770px;
	height: 880px;
	background-color: gray;
	border-radius: 15px;
	padding: 10px;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-direction: column;
}

#display {
	background-color: rgb(216, 255, 242);
	flex-grow: 1;
	border-radius: 15px;
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 10px 30px;
	font-size: 50px;
}

#buttons {
	flex-grow: 4;
	display: flex;
	justify-content: space-between;
}

#numbers {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-grow: 3;
}

#operations {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-grow: 1;
}

.row {
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
}

button {
	flex-grow: 1;
	border-radius: 15px;
	margin: 10px;
	border: none;
	font-size: 30px;
}

.number-button {
	background-color: black;
	color: white;
}

.operation {
	background-color: orange;
}

#dot {
	font-weight: 900;
	font-size: 30px;
}